# Ignore Terraform working directory
/terraform/.terraform/

# Ignore state files
/terraform/*.tfstate
/terraform/*.tfstate.*

# Ignore backup files
/terraform/*.backup

# Ignore variable files (if sensitive)
# Comment out if you want to commit them
/terraform/*.tfvars

# Ignore local Terraform RC file
/terraform/.terraformrc
